<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="elections.css">
</head>
<body>
    <%- include('header.ejs') %>
    <h3>Welcome</h3>
    <ul class="list-none">
        <% for (let i=0; i < data.length;i++){%>
            <li class="Election-Item">
                <div class="flex items-center w-fit my-2 px-2 py-1 rounded hover:bg-purple-50">
                    <a href="/elections/<%= data[i].id %>" onclick="redirectToElectionPage(<%= data[i].id%>)">
                        <%= data[i].name %>
                    </a>                    
                    
                        
                    
                </div>
            </li>
            <% } %>
    </ul>
    <form action="/elections" method="post">

        <input type="text" placeholder="Add new election" name="name">
        <button type="submit">create</button>
    </form>
    
</body>
</html>