<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="csrf-token" content="<%= csrfToken %>">
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
</head>
<script>
    var token = document
        .querySelector('meta[name="csrf-token"]')
        .getAttribute("content")

    function startElection(id, allQ2,atL1Q2) {
        let allsett=true
        if(!atL1Q2){
            alert("No questions have atleast 2 options")
            return
        }
        
        if (!allQ2) {
            allsett=window.confirm("It appears that some of the questions do not have a minimum (2) options,If you proceed such questions will not be seen in election.Proceed?") 
        }
        if (allsett){
            console.log("running...");
                fetch(`/elections/${id}/start`, {
                    method: "put",
                    headers: { "Content-Type": "application/json" },
                    body: JSON.stringify({
                        "_csrf": token
                    })
                })
                    .then((res) => {
                        if (res.ok) {
                            window.location.replace(`/elections/${id}`);
                        }
                    })
                    .catch((err) => console.log(err));
            
        }
    }
</script>

<body>
    <%- include("header.ejs")%>
        <button onclick="startElection(<%=election.id%>,<%=allQuesHaveAtleast2%>,<%=atleastOneques2%>)">Start Election</button>

        <h2>
            <%=election.name%>
        </h2>


        <% let questionNo=1 %>
            <% for(let i=0;i<questionsList.length;i++){  %>
                <section>
                    <div>

                        <em>Question<%=questionNo%>:</em>
                        <b>
                            <%=questionsList[i].name%>
                        </b>
                    </div>
                    <p> <span>Description:</span>
                        <%=questionsList[i].description%>
                    </p>

                    <%for(j in optionsList[questionsList[i].id]){%>
                        <ul>

                            <li>
                                <%=optionsList[questionsList[i].id][j].name%>
                            </li>
                        </ul>
                        <%}%>
                </section>

                <% questionNo++; }%>


</body>

</html>