<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=title%></title>
    <link rel="stylesheet" href="elections.css">
</head>
<body>
    <%- include('header.ejs') %>
    <h3>Welcome</h3>
    <h3><a href="/elections/<%=id%>"><%=electionName%></a></h3>
    
    <ul>
        <% for (let i=0; i < questions.length;i++){%>
            <li>
                <div>
                <%= questions[i].name %>                    
                    
                        
                    
                </div>
            </li>
            <% } %>
    </ul>
    
    <a href="/elections/<%=id%>/questions/new">Create New Question</a>
</body>
</html>