<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
  </head>
  <body>
    <div>
      <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=id%>"><%=election.name%></a> > <a href="/elections/<%=id%>/questions">questions</a>
    </div>
    <%- include('header.ejs') %>
    <a href="/signout"><button>SignOut</button></a>
    
    <h3><a href="/elections/<%=id%>"><%=election.name%></a> - ballot</h3>

    <table>
      <%for (let i=0; i < questions.length;i++){%>
      <tr>
        <td>
          <%=i+1%> . <a href="/elections/<%=id%>/questions/<%=questions[i].id%>">
            <%= questions[i].name %>
          </a>
          
        </td>
      </tr>
      <% } %>
    </table>

    <a href="/elections/<%=id%>/questions/new"><button>Create New Question</button></a>
  </body>
</html>
