<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="/css/vote.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
</head>

<body>
    <%- include("header.ejs")%>

    
    <h2>
        <%=election.name%>
    </h2>
        <h3>Results</h3>
        <% let questionNo=1;let maxCount=-1 %>
            <% for(let i=0;i<questionsList.length;i++){ if(optionsList[questionsList[i].id]){ %>
                    <section>
                        <h4 class="quesName"><%=questionsList[i].name%>
                        <ul class="options">
                        <%for(j in optionsList[questionsList[i].id]){
                            if(optionsList[questionsList[i].id][j].count>=maxCount){
                                maxCount=optionsList[questionsList[i].id][j].count
                            }
                        }%>
                        <%for(j in optionsList[questionsList[i].id]){%>
                            <li class="<%=optionsList[questionsList[i].id][j].count === maxCount ? "green" :""%>">
                                <p><%=optionsList[questionsList[i].id][j].name%>: <b><%=optionsList[questionsList[i].id][j].count%></b></p>
                            </li>
                            <%}%>
                        </ul>
                    </section>
                    
                    <% questionNo++; }}%>
                    
</body>

</html>