<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/elections.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
    
  </head>
  <body>
    <div class="nav">
        <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=id%>"><%=election.name%></a>>
      </div>
    <%- include('header.ejs') %>
    <div class="container">

      <h3><%=election.name%>-Registered Voters</h3>
      
      <ul>
        <% for (let i=0; i < voters.length;i++){%>
      <li>
            <u><%= voters[i].voterName %></u>        
      </li>
      <% } %>
    </ul>

    <a class="save-btn" href="/elections/<%=id%>/voters/new">Create New Voter</a>

    </div>
    
  </body>
</html>
