<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        <%=title%>
    </title>
    <link rel="stylesheet" href="./css/index.css">
</head>

<body>
    <%- include("header.ejs")%>


        <h2>
            <%=election.name%>
        </h2>
        <form action="/elections/<%=election.id%>/evalVote" method="post" onsubmit="return confirm('Cannot change your vote after this,proceed?');">
            <input type="hidden" name="_csrf" value="<%= csrfToken %>">
        <% let questionNo=1 %>
            <% for(let i=0;i<questionsList.length;i++){ if(optionsList[questionsList[i].id]){ %>
                    <section>
                        <em>Question<%=questionNo%></em>
                        <b>
                            <%=questionsList[i].name%>
                        </b><br>
                        <p><%=questionsList[i].description%></p>

                        <%for(j in optionsList[questionsList[i].id]){%>
                            <div>
                                <input type="radio" name="<%=questionsList[i].id%>" id="<%=optionsList[questionsList[i].id][j].id%>" value="<%=optionsList[questionsList[i].id][j].id%>" required>
                                <label for="<%=optionsList[questionsList[i].id][j].id%>">
                                    <%=optionsList[questionsList[i].id][j].name%>
                                </label>
                            </div>
                            <%}%>
                    </section>
                    
                    <% questionNo++; }}%>
                    <button type="submit">Vote</button>
                </form>
</body>

</html>