<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/css/index.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Anton&family=Rubik+Microbe&display=swap" rel="stylesheet">
    <style> @import url('https://fonts.googleapis.com/css2?family=Lora:ital@1&display=swap'); </style>
    
  </head>
  <body>
    <div>
        <a href="/">home</a> > <a href="/elections">elections</a> > <a href="/elections/<%=id%>"><%=election.name%></a>>
      </div>
    <%- include('header.ejs') %>
    <h3><a href="/elections/<%=id%>"><%=election.name%></a>-Registered Voters</h3>

    <table>
      <% for (let i=0; i < voters.length;i++){%>
      <tr>
        
          <td>
            <input type="text" value="<%= voters[i].voterName %>">
          </td>
          <td>
            <input type="password" id="<%= voters[i].id %>" value="<%= voters[i].password %>"
            
            onfocus="(()=>{document.getElementById('<%= voters[i].id %>').type='text';})()" 
            onblur="(()=>{document.getElementById('<%= voters[i].id %>').type='password';})()"
            >
          </td>
        
      </tr>
      <% } %>
    </table>

    <a href="/elections/<%=id%>/voters/new"><button>Create New Voter</button></a>

    
  </body>
</html>
